a{
    color: white !important;
}
h1{
    margin-top: 5%;
}
.bienvenue-text{
    display: flex;
}
.bienvenue-text img{
    object-fit: cover;
    border-radius: 50px;
}
.nav-item{
    justify-content: end;
}